@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-dancing-script: "Dancing Script", sans-serif;
  --font-amatic-sc: "Amatic SC", sans-serif;
  --font-jost: "Jost", sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
}
